@import 'https://fonts.googleapis.com/css?family=Lato';

@font-face {
    font-family: 'Pacifico';
    src: local('Pacifico'),
         url('../fonts/Pacifico.ttf') format('truetype');
}

/*
@import 'https://fonts.googleapis.com/css?family=Roboto';
font-family: 'Roboto', sans-serif;
*/

/*
@import 'https://fonts.googleapis.com/css?family=Roboto';
font-family: 'Roboto', sans-serif;
*/

/*
Inline: em, strong, b, span.
Block: h1-h6, p, div;
*/

body{
  margin: 0;
  padding: 0; 
  height: 100%;
  font-family: Pacifico;
  background: #f1f1f1;
}

h1{
  color: #fff;
}

h1,h2{
  padding-top: 20px;
  text-align: center;
}

ul{
  /*Quita los bullets de las listas*/
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(0,0,0);
}
a:hover{
  color: #ccc;
}

.titulos-principales{
  margin: 0px;
  background: black;
}

.informacion-personal{
  border: 1px solid #ccc;
  width: 30%;
  border-top:none;
  border-left:none;
  border-right:none;
  text-align: center;
}

.informacion-justificada{
  width: 30%;
  border: 1px solid #ccc;
  border-top:none;
  border-left:none;
  border-right:none;
  text-align: justify;
}

.informacion-personal ul{
  list-style-type: disc;
}

.menu-navegacion{
  text-align: center;
}

li{
  display: inline;
}

.menu-navegacion a{
  display: inline-block;
  width: 100px;
  height: 20px;
  padding: 10px;
  margin: 0 10px;
  text-decoration: none;
  background: black;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

li:hover a{
  background: #ccc;
}

li.active a{
	background: #ccc;
}


.footer{
  padding:20px;
  height: 60px;
  bottom:0;
  background: gray;
}

#doble{
	font-weight: bold;
	font-style: italic;
}


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
}

hr{ 
   border: 2px dashed #ccc; /*dotted*/ 
   width: 50%;
}

