p{
  width: 80%;
  text-align: justify;
}

@media screen and (max-width: 1800px) and (min-width: 992px) {
	body{
		background-color: #e0f2f1;
	}
}

@media screen and (max-width: 992px) and (min-width: 600px) {
	body{
		background-color: #4db6ac;
	}
}

@media screen and (max-width: 600px) and (min-width: 400px) {
	body{
		background-color: #00897b;
		color: #fff;
	}
}

@media screen and (max-width: 400px) and (min-width: 0px) {
	body{
		background-color: #004d40;
		color: #fff;
	}
}